
<form method="post" action="/sessions">
  <p><input type="text" name="email" placeholder="Email"></p>
  <p><input type="password" name="password" placeholder="Password"></p>
  <p><input type="submit" value="Sign in" class="button"> <a href="/users/forgotten" class="link_button">Forgot password?</a></p>
</form>
