
<form method="post" action="/sessions">
  Email: 
  <p><input type="text" name="email"></p>
  Password: 
  <p><input type="password" name="password"></p>
  <p><input type="submit" value="Sign in"></p>
</form>
