* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, Sans-serif;
  background-image: url(/images/crossword.png)  
}

a {
	text-decoration: none;
	color: #0ba2d9
}


.button {
  display: inline-block; /* display inline but have dimensions */
  width: 110px;
  cursor: pointer;
  font-size: 16px;
  background-color: #0ba2d9;
  border: 2px solid white;
  color: white; /*text colour*/
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px; /*rounded corners*/
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4); /*for readability*/
}

a.button.highlighted {
  background-color: #0ba2d9;
}

header {  
  height: 40px;
  background-color: #0c9bcf;
  color: white;
  display: flex;
  padding: 0 20px 0 20px;
  margin: 0 300px;
}

  /* every immediate child to be vertically centered */
  header > * {
    margin: auto 0;
  }

  header #logo {    
    display: flex;  
    margin-right: 20px;    
    font-size: 2.1em;
    font-weight: bolder;
  }
  header a {
    color: #fff569;
  }

  header #user-peeps {
    flex: 1; /* http://learnlayout.com/flexbox.html */
    -webkit-flex: 1;
    text-align: right;  
  }

header #user-peeps > *{
	display: inline-block;
  }

 header #user-peeps #welcome-message{
 	font-size: 1em;
  padding-right: 10px;
 }

#container {
	background-color: #FFF;
	margin:40px;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	padding: 10px;
  margin: 10px 300px;
}

#container h3{
  font-size:1.3em;
  font-weight: bold;
  font-style: italic;
  color: #2d3033
}

#container ul{

}

.peep {
  	background-color: #fff;
  	box-shadow: 0 0 5px rgba(0,0,0,0.4);
  	margin:10px inherit;
  	padding: 15px 10px;
}

.peep .message {
  	letter-spacing: 1px;
    font-size: 1.0em;
    color:#0c9bcf;
    font-weight: bold;
 }

.peep .author {
  	margin: 10px inherit;
    font-size: 0.8em;
    color: #2d3033
}

.peep .date {
  	float: right;
  	font-size: 0.7em;
    color: #6a6c6e
}

#notice {
  text-align: center;
  margin: 5px;
  padding: 5px;
  background-color: rgba(222,87,67,0.75);
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
}
h1{
	font-size: 22px;
}

form{
	/*text-align: left;*/
}

form p{
	margin: 10px 0;
  text-align: center;
}

form input[type="text"], form input[type="password"]{
	border:1px solid black;
	font-size: 16px;
	width: 400px;
}
.link_button{
  font-size: 0.8em;
}

.flash {
  text-align: center;
  margin: 5px;
  padding: 5px;  
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
}

.flash.notice {
    background-color: rgba(67,183,120,0.75);
}

.flash.error {
   background-color: rgba(222,87,67,1); 
}

