
<form action="/users/forgotten" method="post">
	<h3>Please enter your email</h3>
	<p><input type="text" name="email" placeholder="Email"/></p>
	<p><input type="submit" value="Reset" class="button"/></p>
</form>