<form action="/users" method="post"> 
	<p><input type="text" name="email" placeholder="Email"/></p>
	<p><input type="text" name="username" placeholder="Username" /></p>
	<p><input type="text" name="name" placeholder="Name"/></p>
	<p><input type="password" name="password"placeholder="password" /></p>
	<p><input type="password" name="password_confirmation" placeholder="password again!"/></p>
	<p><input type="submit" value="Sign up" class="button"/></p>
</form>