<% if @user && @user.password_token_timestamp + 60*60 > Time.now %> 
	<form action="/users/reset_password" method="post"> 	
		<h3>Reset Password</h3>
		<input type="hidden" name ="token" value="<%=@token%>"/>
		<p><input type="password" name="password" placeholder="Password"/></p>
		<p><input type="password" name="password_confirmation" placeholder="Passowrd confirmation"/></p>
		<p><input type="submit" value="Reset" class="button"/></p>
	</form>
<%end%>