<% if @user && @user.password_token_timestamp + 60*60 > Time.now %> 
	<h3>Reset Password</h3>
	<form action="/users/reset_password" method="post"> 	
		<input type="hidden" name ="token" value="<%=@token%>"/>
		Password:
		<input type="password" name="password"/>
		Password confirmation:  
		<input type="password" name="password_confirmation"/>
		<input type="submit" value="Reset"/>
	</form>
<%end%>