<header>
    <a href="/">Chitter</a>
    <% if current_user %>
        Welcome, <%= current_user.name %>  
    <% else %>
    	<a href='/users/new' id='sign-in'>Sign up</a>      
    <% end %>
</header>
	
