<!DOCTYPE html>
<html>
<head>
	<title>Chitter 2.0</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
  	<link rel="stylesheet" type="text/css" href="/css/application.css">
</head>
<body>
	<header>
    <section id="logo">
        <a href="/">Chitter 2.0</a>
    </section>
    <section id="user-buttons">
    </section>
</header>
  <section id="notice"></section>
  <section id="errors"></section>
	<main id="container">
	<section id="user_sign_up" class="fake-form">
		<form action="/api/users/new/" method="post" id="form_user_sign_up"> 
			<p><input type="text" name="email" placeholder="Email"/></p>
			<p><input type="text" name="username" placeholder="Username" /></p>
			<p><input type="text" name="name" placeholder="Name"/></p>
			<p><input type="password" name="password"placeholder="password" /></p>
			<p><input type="password" name="password_confirmation" placeholder="password again!"/></p>
			<p><input type="submit" value="Sign up" class="button"/></p>
		</form>
	</section>
	<section id="user_sign_in" class="fake-form">
		<form method="post" action="/api/sessions/" id="form_user_sign_in">
		  <p><input type="text" name="email" placeholder="Email" required></p>
		  <p><input type="password" name="password" placeholder="Password" required></p>
		  <p><input type="submit" value="Sign in" class="button"> <a href="/users/forgotten" class="link_button">Forgot password?</a></p>
		</form>
	</section>
	<section  id="user-peeps">
			<h3>What's going on...</h3>
				<ul id="ul-peeps" >
				</ul>
		</section>
  </main>
  <template id="template_signed_in">
  	<section id="user-buttons">
			<span id="welcome-message">
	        Welcome, {{name }}  
	    </span>
	    <a href='#' id='new_peep' class='button'>New peep</a>
	    <a href='#' id='sign_out' class='button'>Sign out</a>
    </section>
	</template>
	<template id="template_signed_out">
		<section id="user-buttons">
			<a href='#' id='sign-up' class='button'>Sign up</a>  
	    <a href='#' id='sign-in' class='button'>Sign in</a>  
    </section>
	</template>
	<template id="template_list_peeps">
		<ul id="ul-peeps" >
			{{#each peeps}}
				<li class="peep">
					{{#with peep}}
						<p class="message">{{message}}</p>
					{{/with}}
					<section class="button-reply"></section>
					{{#with user}}
						<p class="author">created by:{{name}} ( {{username}} )</p>
					{{/with}}	
					{{#with peep}}
						<p class="date">at:{{#formatDate created_at}} {{/formatDate}}</p>
					{{/with}}
						<section id="peep_replies">
							<ul id="replies{{id}}">
							{{#each replies}}
								<li class="reply">
									{{#with reply}}
										<p class="message">{{{message }}}</p>
									{{/with}}
									{{#with user}}
										<p class="author">created by:{{{name}}} ( {{{username}}} )</p>
									{{/with}}
									{{#with reply}}
										<p class="date">at:{{#formatDate created_at}} {{/formatDate}}</p>
									{{/with}}
								</li>	
							{{/each}}
							</ul>
						</section>
				</li>
			{{/each}}
		</ul>
	</template>
	<template id="template_button-reply">
		<section class="button-reply">
			<a href="#" class="button">Reply</a>
		</section>
	</template>
	<template id="template_notice">
		<p class="flash notice">{{message}}</p>
	</template>
	<template id="template_error">
	  <p class="flash_error">{{message}}</p>
	</template>
	<script src="/js/jquery-2.1.1.min.js"></script>
	<script src="/js/moment.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
	<script src="/js/handlebars.js"></script>
	<script src="/js/chitter.js"></script>
</body>
</html>